
    .head-title{
        @include flex-row-center();
        @include abs-top($fromtop:-3%);
        font-family: sahel;
        &-text{
            h1{
                @include font-weight($weight:100);
                @include letter-spacing($space:1px);
                color: $color-light;
                font-size: 80px;
                @media (max-width:998px) {
                    font-size: 40px;
                }

            }
            h4{
                @include font-weight($weight:100);
                @include letter-spacing($space:1px);
                color: $color-light;
                font-size: 60px;
                @media (max-width:998px) {
                    font-size: 35px;
                }
            }
        }
        &-logo{
            margin-right: 10px;
            cursor: pointer;
                i{
                    @include border($size:3px);
                    color: $color-primary;
                    border-radius: 50%;
                    padding: 20px;
                    font-size: 100px;

                    @media (max-width:998px) {
                        font-size: 60px;
                    }
                }
                @media (max-width:998px) {
                    i{
                        font-size: 60px;
                }
            }
        }

        @media (max-width:998px) {
            top: 6%;
        }
        
    }

    .main-header{
        @include flex-row-center();
        @include abs-top($fromtop:30%);
        font-family: nastaliq;
        h3{
            @include font-weight($weight:100);
            color: $color-primary;
            font-size: 80px;
        }
    
    }

    .sub-header{
        @include abs-top($fromtop:60%);
        @include flex-row-center();
        font-family: sahel;
        p{
            @include font-weight($weight:100);
            color: $color-light;
            font-size: 50px;
        }
    }

    .header-btn{
        @include abs-top($fromtop:80%);
        @include flex-row-center();
        button{
            @include font-weight($weight:400);
            @include border($size:1px);
            font-family: sahel;
            color: $color-primary;
            background-color: transparent;
            width: 150px;
            height: 60px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.4s;
            
            &:hover{
                background-color: $color-primary;
                color: $color-secondary;
            }
        }
    }

    .about-us-left{
        width: 40%;
        img{
            width: 100%;
            opacity: 0.7;
        }
    }

    .about-us-right{
        @include flex-row-center;
        flex-direction: column;
        z-index: 10;
        position: relative;
        width: 55%;
        height: 100%;
        
        .main-title{
            margin-top: 40px;
            font-family: nastaliq;
            h1{
                @include font-weight($weight:100);
                color: $color-primary;
                font-size: 70px;

            }
        
            @media(max-width:700px){
                h1{
                    font-size: 50px;
                }
            
            
            }
        
        }




        .sub-title{
            font-family: sahel;
            h3{
                @include font-weight($weight:100);
                color: $color-light;
                font-size: 65px;
            }

            @media(max-width:998px){
                h3{
                font-size: 40px;

                }
            }

            @media(max-width:700px){
                h3{
                font-size: 30px;

                }
            }
        }

        .stars{
            color: $color-primary;
            margin: 30px 0;
            i{
                margin-left: 10px;
            }
        }

        .description{
            font-family: nastaliq;
            color: $color-light;
            p{
                @include letter-spacing($space:1px);
                font-size: 20px;
                padding: 0 0px;
                direction: rtl;
            }
            &::first-letter{
                margin-right: 30px;
            }
        }

        .more-info-btn{
            @include font-weight($weight:400);
            @include border($size:1px);
            font-family: sahel;
            color: $color-primary;
            background-color: transparent;
            width: 150px;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.4s;
            
            &:hover{
                background-color: $color-primary;
                color: $color-secondary;
            }
        }

        
    }

    .card{
        width: 33.3%;
        height: 30vw;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }

        .card-cover{
            @include flex-row-center();
            @include abs-top($fromtop:0%);
            left: -100%;
            height: 100%;
            position: absolute;
            flex-direction: column;
            transition: all 0.7s;
            background-color: rgba(211, 171, 85, 0.6);
            color: white;
            h3{
                font-family: nastaliq;
                font-size: 70px;
                font-weight: 300;
                letter-spacing: 1px;
            }

            p{
                font-family: sahel;
                font-size: 30px;
            }

            button{
                border: none;
                background-color: white;
                color: $color-primary;
                border-radius: 25px;
                width: 140px;
                height: 35px;
                font-size: 16px;
                margin-top: 30px;
            }

        }

        &:hover{
            .card-cover{
                left: 0%;
            }
        }
        
    }

    .footer-title{
        @include flex-row-center();
        @include abs-top($fromtop:10%);
        font-family: sahel;
        .head-title-text{
            h1{
                @include font-weight($weight:800);
                @include letter-spacing($space:1px);
                color: $color-light;
                font-size: 50px;
                

            }
            h4{
                @include font-weight($weight:100);
                @include letter-spacing($space:1px);
                color: $color-light;
                font-size: 20px;

            }
        }
        .head-title-logo{
            margin-right: 10px;
            cursor: pointer;
            i{
                @include border($size:3px);
                color: $color-primary;
                border-radius: 50%;
                padding: 20px;
                font-size: 100px;
            }
        }
    }

    .socials{
        @include abs-top($fromtop:50%);
        
        i{
            margin-left: 30px;
            font-size: 50px;
            color: $color-light;
            cursor: pointer;
            transition: color 0.5s;
            &:hover{
                color:$color-primary;
            }
        }
    }

    .copy-right{
        @include abs-top($fromtop:75%);
        color: $color-light;
        font-size: 20px;
        font-family: sahel;
    }


    .menu-btn{
        position: fixed;
        top: 10%;
        right: 4%;
        z-index: 500;
        display: flex;
        height: 40px;
        width: 40px;
        
        .menu{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            transition: transform 0.5s;
            
        
        }
        .line{
            width: 100%;
            height: 5px;
            background-color: $color-primary;
            transition: all 0.5s;
            transition-delay: 0.5s;
            transform-origin: right;

        }
        
    }

    .menu-content{
        @include flex-row-center();
        position: fixed;
        width: 100vw;
        height: 100vh;
        .left-part{
            position: fixed;

            width: 50%;
            height: 100%;
            background-color: #262626;
            transition: left 0.5s;
            left: -50%;
            img{
                width: 55%;
                position: absolute;
                opacity: 0.7;
                border-radius: 10px;
                box-shadow: 0 15px 60px rgba($color: $color-secondary, $alpha: 0.7);
            }
            .img-1{
                top: 15%;
                left: 15%;
            }

            .img-2{
                top: 35%;
                left: 25%;

            }

            .img-3{
                top: 55%;
                left: 35%;

            }


        }

        .right-part{
            @include flex-row-center();
            position: fixed;

            flex-direction: column;
            justify-content: space-around;
            width: 50%;
            height: 100%;
            background-color: #1F1D1D;
            height: 100vh;
            right: -50%;
            font-family: sahel;
            direction: rtl;
            align-items: center;
            transition: right 0.5s;
            ul{
               

                li{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                    a{
                        font-size: 40px;
                        color: $color-light;
                        font-weight: 100;
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                             letter-spacing: 3px;
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }

    .checkbox:checked ~ .menu-btn .menu{

        transform: rotateZ(90deg);
    }

    .checkbox:checked ~ .menu-btn .menu .line-1{
        
        transform: rotateZ(-40deg);
    }
        
    .checkbox:checked ~ .menu-btn .menu .line-2{
    
        opacity: 0;
    }
    
    .checkbox:checked ~ .menu-btn .menu .line-3{
    
        transform: rotateZ(40deg);
    
    }
    
    .checkbox:checked ~ .menu-content{
        z-index: 200;
    }

    .checkbox:checked ~ .menu-content .left-part{
        left: 0%;
    }

    .checkbox:checked ~ .menu-content .right-part{
        right: 0%;
    }

   